*{
  margin:0;
  padding:0;
}
body{
  background:rgb(224, 209, 225);
  font-family:Spirax;
}
#container{
  margin:50px auto;
  width:320px;
  background:rgb(224, 209, 225);
  -webkit-perspective:1000px;
}
img{
  border:10px solid white;
  box-shadow: -1px 8px 10px #888;
  width:100%;
  transition:-webkit-transform 0.5s linear;
  -webkit-transform: rotateY(30deg);
  -webkit-transform-style:preserve-3d;
}
#container > div{
  border:8px solid white;
  box-shadow: -4px 8px 5px -1px rgba(125, 125, 130,.4);
  background:rgb(234, 231, 234);
  width:265px;
  margin:-280px 0 80px 70px;

  transition:-webkit-transform 0.6s linear,margin 0.8s ease-in-out,box-shadow 0.5s linear;
  
  -webkit-transform: translateZ(150px) rotateY(30deg);
  
 -webkit-transform-style:preserve-3d;
}
h3{
  text-align:center;
  margin-top:15px;
}
p{
  padding:15px;
  margin-top:10px;
  text-indent:20px;
}
a{
  text-align:center;
  display:block;
  margin:10px 90px;
  padding:5px;
  color:#fff;
  background:rgb(179, 101, 91);
  border-radius:5px;
  text-decoration:none;
}
#container:hover img{
  -webkit-transform:rotateY(0);
}
#container:hover div{
  -webkit-transform:rotateY(0);
  margin:-200px 35px 60px;
  box-shadow: -2px 8px 15px -2px #888;
}
